body {
    margin:0px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:30px;
}
section{
    margin-top:20px;
    width: 800px;
    height:800px;
    padding:20px;
    border-top: 1px solid ;
    border-bottom:1px solid ;
}

#intro{
    display: flex;
    margin-left:10px;
    background-color: wheat;
    padding:10px;
    flex-direction: column;
    box-shadow:  0px 0px 10px 0px;
}
#intro h2{
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    color:palevioletred;
    margin-left: 20px;
    margin-top: 20%;
}
#intro h1{
    text-transform: uppercase;
    margin-top: 40px;
    text-align: center;
    font-size: 70px ;
    padding-top:30px;
}
#intro button {
    text-transform: uppercase;
    font-family:Arial;
    margin-left: 40%;
    font-size: 18px;
    align-self: flex-end;
    border:1px solid black;
    padding:15px;
    background-color: transparent;
    text-align: center;
    border-radius:5px;
    color: palevioletred;
}
#intro button:hover{
    background-color: darkred;
    cursor: pointer;
    font-weight: bold;
    color:white
}
#dance-img{
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 15px;
    border-right:1px solid white;
}
#dance-img img{
    max-height:100%;
    max-width: 100%;
}